$roboto-condensed-bold-italic : 'roboto-condensed-bold-italic';
$roboto-condensed-bold: 'roboto-condensed-bold';
$roboto-condensed-italic: 'roboto-condensed-italic';
$roboto-condensed-light-italic: 'roboto-condensed-light-italic';
$roboto-condensed-light: 'roboto-condensed-light';
$roboto-condensed-regular: 'roboto-condensed-regular';
