@font-face {
    font-family: 'roboto-condensed-bold-italic';
    src: url('fonts/roboto-condensed-bold-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-condensed-bold';
    src: url('fonts/roboto-condensed-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-condensed-italic';
    src: url('fonts/roboto-condensed-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-condensed-light-italic';
    src: url('fonts/roboto-condensed-light-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-condensed-light';
    src: url('fonts/roboto-condensed-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-condensed-regular';
    src: url('fonts/roboto-condensed-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
